body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.text-primary {
    color: #666666;
}

.text-blue {
    color: #246dec;
}

.text-red {
    color: #cc3c43;
}

.text-green {
    color: #367952;
}

.text-orange {
    color: #f5b74f;
}

.font-weight-bold {
    font-weight: 600;
}

/* ------------------- Header ------------------- */
.header {
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.menu-icon {
    display: none;
}



/* ------------------- Main ------------------- */
.main-container {
    grid-area: main;
    overflow: auto;
    padding: 20px 20px;
}

/*---Salary---*/
.salary-title {
    display: flex;
    justify-content: space-between;
}

.salary-title > p {
    font-size: 20px;
}

.salary-charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.salary-charts-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.salary-chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

/*---Lay off---*/
.layoff-title {
    display: flex;
    justify-content: space-between;
}

.layoff-title > p {
    font-size: 20px;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
    border-left: 7px solid #246dec;
}

.card:first-child(2) {
    border-left: 7px solid #f5b74f;
}

.card:first-child(3) {
    border-left: 7px solid #367952;
}

.card:first-child(4) {
    border-left: 7px solid #cc3c43;
}

.card > span {
    font-size: 20px;
    font-weight: 600;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > p {
    font-size: 18px;
}

.card-inner > span {
    font-size: 35px;
}

.layoff-map {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.charts {
    display: grid;
    grid-template-columns: 1fr;
}

.charts-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

.charts2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 100px;
}

.charts-card2 {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

/*------------------------Model-------------------------*/
.model{
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    min-height: fixed;
    padding: 10rem 9% 2rem;
}

.model-img {
    width: 35vw;
}

.model-content h3 {
    font-size: 5.6rem;
    font-weight: 500;
}

.model-content h1 {
    font-size: 3.2rem;
    font-weight: 500;
}

.model-content p {
    font-size: 3.2rem;
    font-weight: 500;
}

/*--Features--*/
.model-display h2 {
    font-size: 5.6rem;
    margin-bottom: 5rem;
}

.display-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.display-container .display-box {
    flex: 1 1 30rem;
    background: #ffffff;
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #f5b74f;
    transition: .5s ease;
}

.display-container .display-box:hover {
    border-color: #f5b74f;
    transform: scale(1.10);
}

.display-box span {
    font-size: 2.5rem;
}

.display-box h3 {
    font-size: 1.3rem;
}

/*--Result--*/
.model-result h2 {
    font-size: 5.6rem;
    margin-bottom: 1rem;
}

.result-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px 0;
}

.result-container .result-box {
    flex: 1 1 30rem;
    background: #ffffff;
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #367952;
    transition: .5s ease;
}

.result-container .result-box:hover {
    border-color: #367952;
    transform: scale(1.10);
}

.result-box span {
    font-size: 2.5rem;
}

.result-box h3 {
    font-size: 1.3rem;
}

.result-chart {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
}

.result-chart-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.result-chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

/*-Test--*/
.test h2 {
    font-size: 5.6rem;
    margin-bottom: 1rem;
}

.test-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px 0;
}

.test-container .test-box {
    flex: 1 1 30rem;
    background: #ffffff;
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #246dec;
    transition: .5s ease;
}

.test-container .test-box:hover {
    border-color: #246dec;
    transform: scale(1.10);
}

.test-box span {
    font-size: 2.5rem;
}

.test-box h3 {
    font-size: 1.3rem;
}

/* ---- Model with layoff -----*/
.model-layoff{
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    min-height: fixed;
    padding: 10rem 9% 2rem;
}

.model-layoff-img {
    width: 35vw;
}

.model-layoff-content h3 {
    font-size: 4rem;
    font-weight: 700;
}

.model-layoff-content h1 {
    font-size: 3.2rem;
    font-weight: 500;
}

.model-layoff-content p {
    font-size: 3.2rem;
    font-weight: 500;
}

/*--Features--*/
.model-layoff-display h2 {
    font-size: 5.6rem;
    margin-bottom: 5rem;
}

.layoff-display-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.layoff-display-container .display-box {
    flex: 1 1 30rem;
    background: #ffffff;
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #f5b74f;
    transition: .5s ease;
}

.layoff-display-container .display-box:hover {
    border-color: #f5b74f;
    transform: scale(1.10);
}

.layoff-display-box span {
    font-size: 2.5rem;
}

.layoff-display-box h3 {
    font-size: 1.3rem;
}

/*--Result--*/
.layoff-model-result h2 {
    font-size: 5.6rem;
    margin-bottom: 1rem;
}

.layoff-result-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px 0;
}

.layoff-result-container .result-box {
    flex: 1 1 30rem;
    background: #ffffff;
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #367952;
    transition: .5s ease;
}

.layoff-result-container .result-box:hover {
    border-color: #367952;
    transform: scale(1.10);
}

.result-box span {
    font-size: 2.5rem;
}

.result-box h3 {
    font-size: 1.3rem;
}

.layoff-chart {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
}

.layoff-chart-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.layoff-chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}

/* -------Prediction ----------*/
/* ---Put you code here----*/

/* ------------------- Media Queries ------------------- */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
            "header"
            "main";
    }

    .menu-icon {
        display: inline;
    }
}

/* Small <= 768px */

@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
} 

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
}